<div id="nav-menu"></div>
<div id="close-menu"></div>
<div class="nav">
  <div class="nav1">
    <a href="{{site.baseurl}}/index">
    <span class="nav1-block"></span>
    <span class="nav1-con"><h1 class="bot">HOME</h1></span>
    <span class="nav1-block2"></span>
  </a>
  </div>
  <div class="nav2">
    <a href="{{site.baseurl}}/about">
    <span class="nav2-block"></span>
    <span class="nav2-con"><h1 class="bot2">ABOUT</h1></span>
    <span class="nav2-block2"></span>
  </a>
  </div>
  <div class="nav3">
    <a href="{{site.baseurl}}/work">
    <span class="nav3-block"></span>
    <span class="nav3-con"><h1 class="bot3">WORK</h1></span>
    <span class="nav3-block2"></span>
  </a>
  </div>
  <div class="nav4">
    <a href="{{site.baseurl}}/contact">
    <span class="nav4-block"></span>
    <span class="nav4-con"><h1 class="bot4">CONTACT</h1></span>
    <span class="nav4-block2"></span>
  </a>
  </div>
</div>
