<div id="nav-menu"></div>
<div id="close-menu"></div>
<div class="nav">
  <div class="nav1">
    <span class="nav1-block"></span>
    <span class="nav1-con"><a href="{{site.baseurl}}/index.html">HOME</a></span>
    <span class="nav1-block2"></span>
  </div>
  <div class="nav2">
    <span class="nav2-block"></span>
    <span class="nav2-con"><h1 class="bot2"><a href="{{site.baseurl}}/about.html">ABOUT</a></h1></span>
    <span class="nav2-block2"></span>
  </div>
  <div class="nav3">
    <span class="nav3-block"></span>
    <span class="nav3-con"><h1 class="bot3"><a href="{{site.baseurl}}/work.html">WORK</a></h1></span>
    <span class="nav3-block2"></span>
  </div>
  <div class="nav4">
    <span class="nav4-block"></span>
    <span class="nav4-con"><h1 class="bot4"><a href="{{site.baseurl}}/contact.html">CONTACT</a></h1></span>
    <span class="nav4-block2"></span>
  </div>
</div>
